@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

 body{ 
   font-family: 'Open Sans', sans-serif;
 }
 body{@apply w-full h-full}
 
 *{ 
     outline: none;
     -webkit-tap-highlight-color: rgba(0,0,0,0);
     scroll-behavior: smooth;
 }
 
 *::-webkit-scrollbar{@apply w-[6px] bg-transparent} 
 *::-webkit-scrollbar-thumb{@apply rounded-[10px] bg-black/[.12] } 
 *::-webkit-scrollbar-thumb:hover{@apply bg-black/[.2]}
 
.input{@apply w-full mt-1 }
.inputLbl{@apply font-semibold text-sm text-neutral-600 }